*.BAK
*.a
*.cmake
*.dll
*.exe
*.la
*.lo
*.log
*.o
*.pc
*.so
*.trs
*~
.deps/
.libs/
/Testing/
libtool
CMakeCache.txt
CMakeFiles/
GNUmakefile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config
config.h*
config.status
configure
example-deconstructor*
example-reformatter*
run*
stamp-h1
test-*
!config/config.h.in
