.deps/
.libs/
*~
*.BAK
*.la
*.lo
*.o
*.pc
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/GNUmakefile
/Makefile
Makefile.in
/Testing/
/aclocal.m4
/autom4te.cache
/cmake_install.cmake
/config
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/example-deconstructor
/example-deconstructor-alt
/example-reformatter
/example-reformatter-alt
/include/Makefile
/libtool
/libyaml.a
/run-dumper
/run-emitter
/run-emitter-test-suite
/run-loader
/run-parser
/run-parser-test-suite
/run-scanner
/src/Makefile
/stamp-h1
/test-reader
/test-version
/tests/Makefile
/tests/example-deconstructor
/tests/example-deconstructor-alt
/tests/example-reformatter
/tests/example-reformatter-alt
/tests/run-dumper
/tests/run-emitter
/tests/run-emitter-test-suite
/tests/run-loader
/tests/run-parser
/tests/run-parser-test-suite
/tests/run-scanner
/tests/run-test-suite/
/tests/test-reader
/tests/test-reader.log
/tests/test-reader.trs
/tests/test-suite.log
/tests/test-version
/tests/test-version.log
/tests/test-version.trs
