*.la
*.lo
*.o
*.pc
.deps
.hg
.libs
CMakeCache.txt
CMakeFiles/
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
cmake_install.cmake
config
config.h
config.h.in
config.log
config.status
configure
example-deconstructor
example-deconstructor-alt
example-reformatter
example-reformatter-alt
libtool
libyaml.a
run-dumper
run-emitter
run-loader
run-parser
run-scanner
stamp-h1
tests/test-reader
tests/test-reader.log
tests/test-reader.trs
tests/test-suite.log
tests/test-version
tests/test-version.log
tests/test-version.trs
